<!DOCTYPE html>
<header>
<title>{% block title %}vocabquiz{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />​
</header>
<h1>vocabquiz</h1>
<form action="#">
<body class="content">
<div class="quiz box one">
    <p class="quiz-question">Choose an option:</p>
        <p>
        <input type="radio" id="option1" name="radio-group-1">
        <label for="option1">Option 1</label>
        </p>
        <p>
        <input type="radio" id="option2" name="radio-group-1">
        <label for="option2">Option 2</label>
        </p>
        <p>
        <input type="radio" id="option3" name="radio-group-1">
        <label for="option3">Option 3</label>
        </p>
        <p>
        <input type="radio" id="option4" name="radio-group-1">
        <label for="option4">Option 4</label>
        </p>
</div>

<div class="quiz box two">
    <p class="quiz-question">Choose an option:</p>
        <p>
        <input type="radio" id="option5" name="radio-group-2">
        <label for="option5">Option 1</label>
        </p>
        <p>
        <input type="radio" id="option6" name="radio-group-2">
        <label for="option6">Option 2</label>
        </p>
        <p>
        <input type="radio" id="option7" name="radio-group-2">
        <label for="option7">Option 3</label>
        </p>
        <p>
        <input type="radio" id="option8" name="radio-group-2">
        <label for="option8">Option 4</label>
        </p>
</div>

<div class="quiz box three">
    <p class="quiz-question">Choose an option:</p>
    
        <p>
        <input type="radio" id="option9" name="radio-group-3">
        <label for="option9">Option 1</label>
        </p>
        <p>
        <input type="radio" id="option10" name="radio-group-3">
        <label for="option11">Option 2</label>
        </p>
        <p>
        <input type="radio" id="option11" name="radio-group-3">
        <label for="option11">Option 3</label>
        </p>
        <p>
        <input type="radio" id="option12" name="radio-group-3">
        <label for="option12">Option 4</label>
        </p>
</div>
<div class="quiz box four">
    <p class="quiz-question">Choose an option:</p>
        <p>
        <input type="radio" id="option13" name="radio-group-4">
        <label for="option13">Option 1</label>
        </p>
        <p>
        <input type="radio" id="option14" name="radio-group-4">
        <label for="option14">Option 2</label>
        </p>
        <p>
        <input type="radio" id="option15" name="radio-group-4">
        <label for="option15">Option 3</label>
        </p>
        <p>
        <input type="radio" id="option16" name="radio-group-4">
        <label for="option16">Option 4</label>
        </p>
</div>

<div class="quiz box five">
    <p class="quiz-question">Choose an option:</p>
        <p>
        <input type="radio" id="option17" name="radio-group-5">
        <label for="option17">Option 1</label>
        </p>
        <p>
        <input type="radio" id="option18" name="radio-group-5">
        <label for="option18">Option 2</label>
        </p>
        <p>
        <input type="radio" id="option19" name="radio-group-5">
        <label for="option19">Option 3</label>
        </p>
        <p>
        <input type="radio" id="option20" name="radio-group-5">
        <label for="option20">Option 4</label>
        </p>
</div>
</form>
{{question}}
</body>
</html>